html{
    background-color: teal;
}
.container{
    display:grid;
    width: 500px;
    max-width:  900px;
    margin: 2% auto;
    border: 40px groove darkgrey;
    background-color: white;
    border-radius: 10%;
    max-height: 500px;
    height: 500px;

}

.grid{
    border: 1px solid black;
    padding: 1px;
}
.grid:hover{
    background-color: yellow;
}
h1{
    text-align: center;
    color: white;
    background-color: black;
}
.reset{
    margin-left: 30%;
}
